#graphDiv {
  width: 700px;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block; /* Place li elements next to each other */
  border: 1px solid black; /* Outline the li elements */
  padding: 10px;
  background-color: lightgreen; /* Default background color */
}

nav li:hover {
  background-color: lightblue; /* Change background color when hovered over */
}

